.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

.openlayer {
  width: 100%;
  height: 100%;
}

.a {
  height: 70%;
}

.b {
  height: 20%;
}

.c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
}

.c div {
  margin: 0 0.4em;
}

.d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.d button {
  background: #eee;
  margin: 0.9px;
  border-radius: 10%;
}

.message-bar {
  /* background: #eee; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }

.message-bar h1 {
  font-size: 1em;
  display: inline;
  margin: 0 0.5em;
  background-color: #ccc;
  padding: 1em;
  border-radius: 4%;
}

.message-bar dl {
  display: inline;
  margin: 0 0.5em;
  padding: 5px;
}

.message-bar dt {
  display: inline;
  padding: 0;
  font-size: 0.9em;
  font-weight: bold;
}

.message-bar dd {
  display: inline;
  font-size: 0.9em;
  margin: 1em;
}
/* the FluentUI style does not account for the scenario 
use the class: .ms-TextField-wrapper */
.ms-TextField-wrapper {
  display: flex;
}